<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="productA" class="using_idref.entity.Product"/>
    <bean id="productB" class="using_idref.entity.Product"/>

    <bean id="order1" class="using_idref.entity.Order">
        <property name="product1">
            <idref bean="productA"/>
        </property>
        <property name="product2">
            <idref bean="productB"/>
        </property>
    </bean>
</beans>
