<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="order1" class="property_collection.entity.Order">
        <property name="names">
            <list>
                <value>chao</value>
                <value>hahaha</value>
            </list>
        </property>
        <property name="config">
            <props>
                <prop key="height">100</prop>
                <prop key="remark">my config</prop>
            </props>
        </property>
    </bean>
</beans>
