<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="myProduct"
        class="example.context01.constructor_injection.entity.Product"
    />
    <bean id="myUser"
        class="example.context01.constructor_injection.entity.User"
    />
    <bean class="example.context01.constructor_injection.entity.Order">
        <constructor-arg ref="myProduct"/>
        <constructor-arg ref="myUser"/>
    </bean>

    <bean id="myCar" class="example.context01.constructor_injection.entity.Car">
        <constructor-arg type="java.lang.String" value="myCar"/>
        <constructor-arg type="int" value="5"/>
    </bean>

    <bean id="mySecondCar" class="example.context01.constructor_injection.entity.Car">
        <constructor-arg index="0" value="mySecondCar"/>
        <constructor-arg index="1" value="6"/>
    </bean>

    <bean id="myThirdCar" class="example.context01.constructor_injection.entity.Car">
        <constructor-arg name="name" value="myThirdCar"/>
        <constructor-arg name="numOfTire" value="6"/>
    </bean>
</beans>
